.profilePic {
    height: 200px;
    width: fit-content;
    border-radius: 50%;
    border-style: solid;
    border-color: var(--two);
  
  }

  .about {
  text-align: center;
  width: 70%;
  margin: auto;
  }
