.App {
  text-align: center;
  /* background-color: var(--one); */
}

:root {
  --one: #F5F0BB;
  --two: #C4DFAA;
  --three: #90C8AC;
  --four: #91744e;

}

.gitPic {
  height: 40px;
  opacity: 1;
  transition-duration: 0.4s;

}

.gitPic:hover {
opacity: .7;
}

.content-container {
  min-height: calc(100vh - 85.88px);
}

.footer--pin {
  position: relative;
  left: 0;
  bottom: 0;
}

.footer {
  margin: 0px 10px;
}

button {
  background-color: var(--three);
  font-size: 16px;
  border-radius: 12px;
  transition-duration: 0.4s;
}

button:hover {
  background-color: var(--two);

}