.App {
  text-align: center;
  /* background-color: var(--one); */
}

:root {
  --one: #F5F0BB;
  --two: #C4DFAA;
  --three: #90C8AC;
  --four: #91744e;

}

.profilePic {
  height: 200px;
  width: fit-content;
  border-radius: 50%;
  border-style: solid;
  border-color: var(--two);

}

nav {
  background-color: var(--two);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

nav a {
  margin: 0px 5px;
}

nav h1 {
  margin: 20px 5px;
}


.active {
  text-decoration: none;
  color: var(--four);
  /* background-color: white; */
  /* border-radius: 5px; */
  /* text-shadow: 1px 1px 2px var(--light-green), 0 0 1em var(--light-green), 0 0 0.2em var(--light-green); */
}

.nav-link {
  text-decoration: none;
  color: black;
}

.figure-bird {
  background-image: url(./assets/bird.JPG);
  min-height: 350px;
  flex-grow: 1;
  background-size: cover;
  background-position: center;
}

.figure-blog {
  background-image: url(./assets/homepage.JPG);
  min-height: 350px;
  flex-grow: 1;
  background-size: cover;
  background-position: center;
}

.figure-weather {
  background-image: url(./assets/weather.jpg);
  min-height: 350px;
  flex-grow: 1;
  background-size: cover;
  background-position: center;
}

.figure-work {
  background-image: url(./assets/work.JPG);
  min-height: 350px;
  flex-grow: 1;
  background-size: cover;
  background-position: center;
}

.figure-jate {
  background-image: url(./assets/jate.jfif);
  min-height: 350px;
  flex-grow: 1;
  background-size: cover;
  background-position: center;
}

.figure-password {
  background-image: url(./assets/password.jpg);
  min-height: 350px;
  flex-grow: 1;
  background-size: cover;
  background-position: center;
}

.gitPic {
  height: 40px;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.project {
  background-color: var(--two);
  border-style: solid;
  margin: 10px;
  border-radius: 2%;
}

.content-container {
  min-height: calc(100vh - 85.88px);
}

.footer--pin {
  position: relative;
  left: 0;
  bottom: 0;
}

.footer {
  margin: 0px 10px;
}

.about {
  margin: 0px 200px;
}

.resume {
  margin: 0px 200px;
}

button {
  background-color: var(--three);
  font-size: 16px;
  border-radius: 12px;
  transition-duration: 0.4s;
}

button:hover {
  background-color: var(--two);

}