.App {
  /* text-align: center; */
  /* background-color: var(--one); */
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: flex-start;
}

:root {
  --one: #9A5DA9;
  --two: #803C91;
  --three: #6D2380;
  --four: #541164;
  --five: #C192CD;

}

.gitPic {
  height: 40px;
  opacity: 1;
  transition-duration: 0.4s;

}

.gitPic:hover {
opacity: .7;
}

.content-container {
  flex-grow: 4;
}

.footer--pin {
  position: relative;
  left: 0;
  bottom: 0;
  /* background-color: var(--two); */
}

.footer {
  margin: 0px 10px;

}

button {
  background-color: var(--one);
  font-size: 16px;
  border-radius: 12px;
  transition-duration: 0.4s;
}

button:hover {
  background-color: var(--five);

}